.grid-wrapper {
    display: grid;
    grid: repeat(2, 330px) / repeat(2, 570px);
    row-gap: 40px;
    column-gap: 60px;
    margin-bottom: 50px;
    &_resident {
        grid: minmax(330px, auto) / repeat(auto-fit , 570px);
    }
}

@media( max-width: 768px ){
    .grid-wrapper {
        grid: 1fr / 1fr;
    }
}

@media( max-width: 576px ){
    .grid-wrapper {
        &_resident {
            grid: 1fr / 1fr;
        }
    }
}